header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    margin-left: 20px;
    background: url(../images/logo.png)no-repeat;
    width: 142px;
    height: 60px;
}