.container .filters{
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    position: relative;
}
.container .filters button{
    background-color: #FF5A5F;
    color: white;
    font-size: 18px;
    height: 48px;
    border: 0;
    width: 20%;
    border-radius: 4px;
    top: 15%;
    margin-right: 30px;
    position: relative;
    margin-top: 0px;
    float: right;
}
.container .filters button:hover{
    opacity: 0.9;
}